
@model IEnumerable<Project.ENTITIES.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Kategoriler</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p>
            <a href="/Category/Create" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Create
            </a>
           
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUserName)
                </th>
                <th></th>*@
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeletedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedUserName)
                    </td>*@
                <td>
                    @MyBootstrap.LinkButton("/Category/Edit/" + item.ID, "warning", "btn-sm", "Edit", "edit", string.Empty)
                    @MyBootstrap.LinkButton("/Category/Details/" + item.ID, "info", "btn-sm", "Details", "search", string.Empty)
                    @MyBootstrap.LinkButton("/Category/Delete/" + item.ID, "danger", "btn-sm", "Delete", "trash", string.Empty)

                </td>
                </tr>
            }

        </table>
    </div>
</div>
<script>
    $(function () {
        $("footer").hide();
    });

</script>


