@model NaciboUser
@{
    ViewBag.Title = "Profiliniz";
    
}


<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-2 login-container">
            <div class="avatar">
                <img src="~/Images/@Model.ProfileImageFileName" class="img-circle" width="128" height="128" />
            </div>
        </div>
        <div class="col-md-10">
            <h3>@(Model.FirstName + " " + Model.LastName)</h3>
            <br />
            <h5><b>Kullanıcı Adı:</b>@Model.UserName</h5>
            <h5><b>E-mail:</b>@Model.Email</h5>
            <br />
            <h5><a href="@Url.Action("ShowNotes")">Notlar..</a></h5>

        </div>
       
    </div>

</div>

<script>
    $(function () {
        $("footer").hide();
    });

</script>
